version: '3.8'
services:
  db:
    image: mysql:8.0
    environment:
     MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    env_file:
      - .env
volumes:
     db_data: